*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #222226;

}
/* ---------------------------------MAINMM---------------------------------- */
.app-wrapper{
  
  max-width: 100%;
  min-height: 100vh;

  display: grid;

  grid-template-areas: 
  "header header"
  "mw mw";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  position: relative;

}

.main-wrapp{
  grid-area: mw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}